# DB
DATABASE_URL="postgres://user:password@host:port/db-name"

#Config
PUBLIC_ROOT_DOMAIN=localhost:5173
PUBLIC_HOST=http://localhost:5173
ONBOARDING_WEBHOOK_URL= #Recieves a webhook when a new organization is created

# E2E
E2E_BASE_URL=http://localhost:4173

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173 # Base URL of the app
BETTER_AUTH_TRUSTED_ORIGINS= #For zero cookie auth
PUBLIC_GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

# Zero
PUBLIC_ZERO_SERVER="http://localhost:4848"
ZERO_UPSTREAM_DB="postgres://user:password@host:port/db-name"
ZERO_REPLICA_FILE="/tmp/sync-replica.db"
ZERO_MUTATE_URL="http://localhost:5173/api/utils/zero/push"
ZERO_QUERY_URL="http://localhost:5173/api/utils/zero/query"
ZERO_QUERY_FORWARD_COOKIES="true"
ZERO_MUTATE_FORWARD_COOKIES="true"

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUPPORTED_TIER_PRICE_ID=
STRIPE_ENTERPRISE_TIER_PRICE_ID=
PUBLIC_SUPPORTED_TIER_FORM_URL=
PUBLIC_ENTERPRISE_TIER_FORM_URL=

# Postmark
POSTMARK_SERVER_TOKEN=
POSTMARK_ACCOUNT_TOKEN=
PUBLIC_POSTMARK_SENDING_DOMAIN=
POSTMARK_MESSAGE_TEMPLATE_ALIAS=main-nologo

# Seed data
OWNER_EMAIL_ADDRESS=
OWNER_ORGANIZATION_NAME=
OWNER_ORGANIZATION_SLUG=
OWNER_GIVEN_NAME=
OWNER_FAMILY_NAME=
OWNER_PROFILE_PIC_URL=
PUBLIC_DEFAULT_WORKSPACE_LOGO=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
PUBLIC_AWS_S3_SITE_UPLOADS_BUCKET_NAME=
PUBLIC_AWS_S3_SITE_UPLOADS_BUCKET_REGION=

# WhatsApp
PUBLIC_DEFAULT_WHATSAPP_NUMBER=
SYSTEM_WABA_ID=
DEFAULT_WHATSAPP_BUSINESS_ACCOUNT_ID= #Same as SYSTEM_WABA_ID (used for legacy reasons)
PUBLIC_WHATSAPP_CONFIG_ID=
PUBLIC_WHATSAPP_APP_ID=
PUBLIC_WHATSAPP_SOLUTION_ID=

## Ycloud
YCLOUD_API_KEY=
YCLOUD_WEBHOOK_VERIFY_TOKEN=
YCLOUD_API_URL=http://api.ycloud.com/v2

# CRON
EASYCRON_SECRET=

#NGROK (Needed for tunneling in development for receiving webhooks)
PUBLIC_NGROK_DOMAIN=
NGROK_AUTHTOKEN=

#Sentry
SENTRY_AUTH_TOKEN=
PUBLIC_SENTRY_DSN=
