# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/drizzle/

# Wuchale
/src/locales/data.js
/src/locales/js.loader.js
/src/locales/js.loader.server.js
/src/locales/main.loader.server.svelte.js
/src/locales/main.loader.svelte.js